body {
  margin: 0;
  overflow: hidden;
  background-color: #222;
  font-family: Arial, sans-serif;
  color: #fff;
}

.title {
  position: relative;
  top: 2px;
  border-radius: 20px;
}

.cr {
  top: 20px;
}

/* Folder Styles */
.dg.main.a {
  font-family: "Roboto", sans-serif;
  color: #ddd;
  text-shadow: none !important;
}

.dg.main .close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.close-button {
  position: relative;
  top: 175px;
  border-radius: 20px;
}

.c {
  transform: translateX(-10px);
}

/* Slider Styles */
.slider {
  width: 100%;
  height: 20px;
  background-color: #444;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.slider-fg {
  border-radius: 20px;
}

.slider .fill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 20px;
  transition: width 0.2s;
}

.slider .handle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.2s;
}

/* Checkbox Styles */
.dg .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 14px;
  width: 300px;
  height: 14px;
  top: 2px;
  float: right;
  margin-right: -2px;
}

.dg .cr .cr-icon {
  position: absolute;
  font-size: 10px;
  line-height: 0;
  top: 2px;
  left: 12px;
}

.dg .cr .cr-icon.a {
  color: #4caf50;
}

.dg .cr .cr-icon.b {
  color: #ddd;
  opacity: 0.3;
}

.dg .checkbox {
  display: none;
}

.dg .checkbox:checked + .cr .cr-icon.b {
  opacity: 0;
}

.dg .checkbox:checked + .cr .cr-icon.a {
  opacity: 1;
}

#info {
  position: absolute;
  left: 50%;
  font-size: 18px;
  text-align: center;
  width: 60%;
  z-index: 1;
  padding: 30px;
  color: #fff;
}

#info.light {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.toggle-button-cover {
  position: absolute;
  top: 230px;
  right: 20px;
  z-index: 1;
}

.button-cover {
  width: 100px;
  height: 36px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 20px;
}

.button {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Your button */
.knobs:before {
  content: "Rot";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

.checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

.checkbox:checked + .knobs:before {
  content: "NRot";
  left: 63px;
  background-color: #f44336;
}

.checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

input[type="text"] {
  border-radius: 100px;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

h1 {
  position: absolute;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
}

.body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder 0.4s linear infinite;
}

.body > span {
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

.base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid white;
  border-bottom: 6px solid transparent;
}

.base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: white;
  position: absolute;
  right: -110px;
  top: -16px;
}

.base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid white;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: white;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: white;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: white;
  position: absolute;
  animation: fazer1 0.1s linear infinite;
}

.body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: white;
}

.longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}

.longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}

.longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}

.longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 100%; /* Initial position */
  }
  100% {
    left: -100%; /* Move completely off-screen */
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 100%; /* Initial position */
  }
  100% {
    left: -100%; /* Move completely off-screen */
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 100%; /* Initial position */
  }
  100% {
    left: -100%; /* Move completely off-screen */
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 100%; /* Initial position */
  }
  100% {
    left: -100%; /* Move completely off-screen */
    opacity: 0;
  }
}

/* Table styles */
.table-container {
  position: absolute;
  display: none;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  margin: 20px auto;
  width: 40%;
  color: black;
  translate: 0px 150px;

}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-container table, .table-container th, .table-container td {
  border: 1px solid #555;
}

.table-container th, .table-container td {
  padding: 10px;
}

.table-container th {
  background-color: grey;
}

/* Button styles */
.button-container {
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: 15%;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.button-container button:hover {
  background-color: #555;
  color: white;
}

.button-container button:active {
  background-color: #666;
}